 * {
	font-family: 'Dancing Script', cursive;
	color: white;
}

img {
	box-shadow: 2px 2px 3px #02010a;
}

#contenido {
	max-width: 900px;
	margin: 0 auto;

}

body {
	background-color:  #02010a;
}

/* estilos del encabezado y menu */
header {
	background: #5b7989;
	text-shadow: 2px 2px 4px #02010a;
	border-radius: 10px 10px 0px 0px;
	position: relative;
}

.header1 {
	display: inline-block;
	position: relative;
}

.menunav {
	position: absolute;
	right: 2%;
	top: 20%;
}

header nav ul li{
	display: inline-block;
	margin: 0px 5px;
}

header nav ul li a{
	color: white;
}

/* estilos de las imagenes */ 

.galeria {

}

.galeria img {
	max-width: 30%;
	border: 1px solid black;
	margin: 10px;
	box-shadow: 2px 2px 8px #02010a;

}

.paisajes {
	min-height: 200px;
}


#p1 {
	filter: blur(10px);
}

.paisajes:nth-child(even) {
	filter: grayscale(100%);
}

#p3 {
	filter: sepia(90%);
}


footer {
	background: #C6d5c5;
	display: flex;
	flex-direction: row;
	padding: 2%;
	border-radius: 0 0 10px 10px;
}

footer div {
	width: 25%;
	color: black;
}

footer div p, footer div p a {
	color: black;
}

footer div h2 {
	color: black;
}



/* aca empieza la adaptabilidad en dispositivos */

@media(max-width: 899px) {



	/* configurando el encabezado */

	header {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.header1 {
		display: inline-block;
		position: relative;
	}


	header h1{
		display: block;
		text-align: center;
		width: 100%;
	}
	header nav{
		display: block;
		width: 100%;
	}

	.menunav {
		position: none;
		text-align:center;
		right: 2%;
		top: 20%;
	}

	.menunav ul li a {
		font-size: 1.5em;
	}

	/*	Configuracion de la galeria  */

	.galeria {
		width: 100%;
	}

	.galeria img {
		display: flex;
		flex-direction: column;
		max-width: 100%;
	}

	.paisaje {
		max-height: 400px;
	}

	/* configurando el pie de pagina */

	footer {
		display: flex;
		flex-direction: column;
		width: 96%;
		font-size: 1.5em;

	}

	footer > div {
		width: 96%
	}



	

}