 * {
	font-family: 'Dancing Script', cursive;
	color: white;
}

img {
	box-shadow: 2px 2px 3px #02010a;
}

#contenido {
	max-width: 900px;
	margin: 0 auto;

}

body {
	background-color:  #02010a;
}

/* estilos del encabezado y menu */
header {
	background: #5b7989;
	text-shadow: 2px 2px 4px #02010a;
	border-radius: 10px 10px 0px 0px;
	position: relative;
}

.header1 {
	display: inline-block;
	position: relative;
}

.menunav {
	position: absolute;
	right: 2%;
	top: 20%;
}

header nav ul li{
	display: inline-block;
	margin: 0px 5px;
}

header nav ul li a{
	color: white;
}

/* estilos de las imagenes */ 

.galeria section img {
	width: 33.33%;
}


