* {
	font-family: 'Dancing Script', cursive;
	color: white;
}

.imgcentrada img, .dosimagenes > div > a > img {
	box-shadow: 2px 2px 3px #02010a;
}

#contenido {
	max-width: 900px;
	margin: 0 auto;

}

body {
	background-color:  #02010a;
}

/* estilos del encabezado y menu */
header {
	background: #5b7989;
	text-shadow: 2px 2px 4px #02010a;
	border-radius: 10px 10px 0px 0px;
	position: relative;
}

.header1 {
	display: inline-block;
	position: relative;
}

.menunav {
	position: absolute;
	right: 2%;
	top: 20%;
}

header nav ul li{
	display: inline-block;
	margin: 0px 5px;
}

header nav ul li a{
	color: white;
}

/*Estilo para la imagen principal centrada */



.imgcentrada {
	background: #82c3a6;
	padding: 2%;
}

.imgcentrada img {
	width: 85%;
	max-height: 400px;
	display: block;
	margin: 0 auto;
}


/* SECCION DE DOS IMAGENES */


.dosimagenes {
	background: #d5c75f;
	border: 1px solid black;
	width: 100%;
	display: flex;
	flex-direction: row;

}



.dosimagenes div p {
	margin-top: 10px;
	text-align: center;
}

.dosimagenes div {
	padding: 30px;
	text-align: center;
}

.dosimagenes div a img {
	width: 80%;
	transition: transform 1s, box-shadow 1s, border 1s;
}

.dosimagenes #imgizq a > img:hover {
	transform: rotate(10deg);
	box-shadow: 2px 2px 3px #82c3a6;
	border: 2px solid black;
}

.dosimagenes #imgder a > img:hover {
	transform: translate(5px, -20px);
	box-shadow: 2px 2px 3px #82c3a6;
	border: 2px solid black;
}

/* ACA FINALIZA EL ESTILO DE LAS DOS IMAGENES */


/* ACA EMPIEZA EL ESTILO DEL PIE DE PAGINA */

footer {
	background: #C6d5c5;
	display: flex;
	flex-direction: row;
	padding: 2%;
	border-radius: 0 0 10px 10px;
}

footer div {
	width: 25%;
	color: black;
}

footer div p, footer div p a {
	color: black;
}

footer div h2 {
	color: black;
}


/* aca empieza la adaptabilidad en dispositivos */

@media(max-width: 899px) {
	/* configurando el encabezado */

	header {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.header1 {
		display: inline-block;
		position: relative;
	}


	header h1{
		display: block;
		text-align: center;
		width: 100%;
	}
	header nav{
		display: block;
		width: 100%;
	}

	.menunav {
		position: none;
		text-align:center;
		right: 2%;
		top: 20%;
	}

	.menunav ul li a {
		font-size: 1.5em;
	}

	/*	Configuracion de la la imagen que va centrada */

	.imgcentrada img{
		width: 100%;

	}

	/* configuracion de las dos imagenes */

	.dosimagenes {
		display: flex;
		flex-direction: column;
		width: 100%
	}

	.dosimagenes div a img, .dosimagenes div {
		width: 98%;
		padding: 0.5%;
	}


	/* configurando el pie de pagina */

	footer {
		display: flex;
		flex-direction: column;
		width: 96%;
		font-size: 1.5em;

	}

	footer > div {
		width: 96%
	}




}