/*Estilos Generales*/
* {
	text-decoration: none;
	list-style: none;
	margin: 0;
}

body {
	width: 90%;
	display: block;
	margin: 0 auto;

}

/* estilos del encabezado y menu */
header {
	background: #5b7989;
	color: white;
	text-shadow: 2px 2px 4px #02010a;
	border-radius: 10px 10px 0px 0px;
	position: relative;
	padding: 10px;
}

.header1 {
	display: inline-block;
	position: relative;
}

.menunav {
	position: absolute;
	right: 2%;
}

header nav ul li{
	display: inline-block;
	margin: 5px;
}

header nav ul li a{
	color: white;
}


/*Estilo para la imagen principal centrada */

.imgcentrada {
	background: #82c3a6;
	padding: 1%;
	position: relative;

}

div img {
	width: 85%;
	height: 400px;
	display: block;
	margin: 0 auto;

}


/* SECCION DE DOS IMAGENES */
.dosimagenes {
	background: #d5c75f;
	display: flex;
	flex-direction: row;
}

.dosimagenes div {
	padding: 10px;
	width: 50%;
	
}

.dosimagenes div p {
	margin-top: 10px;
	text-align: center;
}

.dosimagenes img {
	border: 1px solid black;
}





